.idea

# Ignore terraform files
.terraform
*.tfstate*
*.tfstate.backup
# for simplicity in these examples repo let's gitignore the lock files
# but generally it shouldn't be gitignored
**/*.lock.hcl

